{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management Intro</title>
    <link rel="stylesheet" href="{% static 'members/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/topnav.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/preset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
</head>
<body>
    {% include "includes/topnav.html" %}
    {% include "includes/sidebar.html" %}

    <div class = "main">    
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'members/js/sidebar.js' %}"></script>

    <!-- Chatbot script -->
    <script>
        const CHAT_URL = "{% url 'chat' %}";
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'members/js/chat.js' %}"></script>
    <script src="{% static 'members/js/preset.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>