{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}

        <div class="mb-2 me-2 btn-group" id="preset-selector">
            <button class="btn btn-light" id="preset-dropdown-btn">No Preset Selected</button>
            <button type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-light"><span class="visually-hidden">Toggle Dropdown</span></button>
            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                {% for name, slug in presets.items %}
                    <button type="button" tabindex="0" class="dropdown-item" data-preset="{{ slug }}">{{ name }}</button>
                {% empty %}
                    <h6 tabindex="-1" class="dropdown-header">No presets available!</h6>
                {% endfor %}
            </div>
        </div>


        <div id="chat-box">
            <div id="chat-messages"></div>
        </div>

        

        <!-- ✅ Message Input Form -->
        <div id="message-form">
            <div class="d-flex align-items-center gap-2 mb-2">
                
                <div class="message-wrapper flex-grow-1">
                    <textarea id="message" rows="1" placeholder="Send a message"></textarea>
                    <button class="send-button" onclick="sendMessage()"><i class="fa fa-paper-plane"></i></button>
                </div>
                
                <a href="{% url 'preset' %}" 
                data-bs-toggle="tooltip" 
                data-bs-placement="bottom" 
                class="btn-shadow btn btn-dark cog-setting-btn" 
                data-bs-original-title="Example Tooltip">
                    <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
                </a>

            </div>

            <div class="disclaimer">
                This is a ChatGPT UI Clone for personal use and educational purposes only.
            </div>
        </div>



    {% else %}
        <h1>Please log in to chat with our bot</h1>
        <a href="{% url 'dashboard' %}">Back to dashboard</a>
    {% endif %}
{% endblock content %}